.community {
  font-family: "Nanum Myeongjo", serif;
}

.gm-label {
  flex: 0 0 auto;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 0.24rem 0 0;
  border-radius: 50%;
  background: url(./images/icon-gm.PNG) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  -webkit-transform: translateY(0.275em);
  transform: translateY(0.275em);
}

.temp-navbar {
  height: 50px;
  background-color: black;
}

.nav-controller {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.2rem 3rem 0 1.15rem;
  line-height: 3.08rem;
  vertical-align: middle;
}

button {
  border: 0;
  background: none;
  outline: 0;
  cursor: pointer;
}

.nav-controller-btn {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.nav-dialog-background {
  position: fixed;
  top: 94px;
  width: 100%;
  height: calc(100vh - 94px);
  background: rgba(0, 0, 0, 0.7);
  transition: background 0.1s ease;
  z-index: 1;
}

.nav-dialog-block {
  position: absolute;
  top: 94px;
  max-height: 50vh;
  width: 100%;
  background: white;
  padding-bottom: 1rem;
  transition: max-height 2s cubic-bezier(0.09, 0.55, 0.25, 1);
  visibility: visible;

  overflow-y: scroll;
  z-index: 1;

  .nav-link {
    font-size: 1.15rem;
    line-height: 2.3rem;
    display: block;
    padding-left: 1.3rem;
    &:active {
      color: #a38348;
    }
  }
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  flex: 0 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &.icon-arrow {
    position: relative;

    &:after {
      content: "";
      display: inline-block;
      width: 60%;
      height: 60%;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(45deg);
    }
  }

  &.icon-filter {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2em;
    background-size: 1rem auto;
    background-image: url(./images/filter.PNG);
  }

  &.icon-comment {
    margin-right: 0.1em;
    background-image: url(./images/icon-comment.PNG);
    background-size: 1.4rem;
    background-position-y: -0.15rem;
  }

  &.icon-view {
    margin-right: 0.1em;
    background-image: url(./images/icon-view.PNG);
    background-size: 1.7rem;
  }

  &.icon-up {
    display: block;
    background: url(./images/spr_info.png) no-repeat;
    width: 1rem;
    height: 0.666rem;
    background-size: 8.333rem auto;
    background-position: 0 -2.416rem;
    zoom: 0.8;
    margin: 0 0.8rem 0.5rem 0;
  }
  &.icon-down {
    display: block;
    background: url(./images/spr_info.png) no-repeat;
    width: 1rem;
    height: 0.666rem;
    background-size: 8.333rem auto;
    background-position: 0 -3.375rem;
    zoom: 0.8;
  }
}

.title {
  font-size: 1.25rem;
  color: #000;
  margin-bottom: 1rem;
}

.head {
  display: flex;
  justify-content: flex-start;
  background: #323232;
  width: 100%;
  word-break: keep-all;
  padding: 1.2rem 0;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 0.8rem;
}

.write-btn {
  justify-content: center;
  align-items: center;
  color: #fff;
}

label {
  color: #fff;
  display: flex;
  margin-left: 1.5rem;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.updown-wrap {
  position: absolute;
  top: 35%;
  left: 0.4rem;
  width: 3.975rem;
  display: flex;
  justify-content: center;
  font-weight: normal;
  align-items: center;
}

.articles {
  color: #888888;
}

.article {
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  padding: 0.6rem 1.25rem 0.6rem 4rem;
  font-weight: bolder;
}

.noti {
  background: #f6f6f6;
  border-bottom: 1px solid #c3bbbb;
}

// .opinion {
//   display: flex;
//   align-items: center;
//   margin: 0.4rem 0 0 0;
//   font-size: 1rem;
//   color: #8f8f8f;
//   font-weight: normal;
// }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.pagination-nav {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  li {
    margin: 0 1px;
  }
  a {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 0.2em;
    text-decoration: none;
  }
  a[aria-current="page"] {
    background-color: #333;
    color: #fff;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 590px;
  padding: 0;
  box-sizing: border-box;
  margin: 1rem auto 0;
  height: 3.33rem;

  select {
    border: 1px solid #dfdfdf;
    flex: 0 1 50%;
    height: 3.33rem;
    transition: 0.15s;
  }

  select:focus {
    outline: 2px solid #323232;
    outline-offset: -2px;
  }

  span {
    flex: 0 1 100%;
    width: 100%;
    position: relative;
    margin-left: -1px;

    input {
      border: 1px solid #dfdfdf;
      height: 3.33rem;
      width: 100%;
      padding-right: 4rem;
      transition: 0.1s;
    }

    input:focus {
      outline: 2px solid #323232;
      outline-offset: -2px;
    }
  }
}

.icons {
  margin: 0.3rem 0;
  color: #888888;
  font-size: 0.9rem;
}

.icon-and-number {
  display: inline-flex;
  padding: 0 0.8rem 0 0.4rem;
  border-right: 1px solid #d7d7d7;
}

.search-icon {
  width: 3.33rem;
  height: 3.33rem;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #f1f0ee;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  margin: 0;

  &:before {
    width: 1.833rem;
    height: 1.833rem;
    box-sizing: border-box;
    display: block;
    content: "";
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(./images/spr_etc.png) no-repeat;
    background-size: 33.333rem 33.333rem;
    background-position: -7.833rem -19.7916rem;
  }
  &.active {
    background: #323232;
    border: none;
    &:before {
      width: 1.833rem;
      height: 1.833rem;
      box-sizing: border-box;
      display: block;
      content: "";
      overflow: hidden;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url(./images/spr_etc.png) no-repeat;
      background-size: 33.333rem 33.333rem;
      background-position: -10rem -19.7916rem;
    }
  }
}

.select {
  background: #f4f4f4;
  border: 1px solid #ccc;
  height: 58px;
}

.title-input {
  height: 58px;
  border: 1px solid #ccc;
  color: #888;
  margin: 1rem 0;
  width: 100%;
  padding: 0.2rem 3rem 0 1.2rem;
}

.content-textarea {
  border: 1px solid #ccc;
  color: #333;
  margin: 1rem 0;
  width: 100%;
  padding: 0.2rem 3rem 0 1.2re;
}

.article-title {
  color: #323232;
  display: inline;
  cursor: pointer;
}

.popover {
  position: fixed;
  padding: 10px 15px 8px 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
  background: #fff;
  -webkit-transform: translate3d(0, -15%, 0);
  transform: translate3d(0, -15%, 0);
  -webkit-transition: opacity 0.25s ease, transform 0.25s ease;
  transition: opacity 0.25s ease, transform 0.25s ease;
  white-space: nowrap;
}

.popover-link {
  display: block;
  color: #8f8f8f;
  line-height: 2.2rem;
}

.detail-title {
  font-size: 1.4rem;
}

.author-and-date {
  color: #888888;
}

.author {
  color: #8f8f8f;
  padding: 1px 1rem 1px 1rem;
  cursor: pointer;
}
