#title {
  /* color: #fff;
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  border-radius: 100vh;
  background-image: -webkit-linear-gradient(right, #f4ff81 0%, #00e676 100%);
  background-image: linear-gradient(to left, #f4ff81 0%, #00e676 100%); */

  color: #fff;
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(254, 107, 139) 30%, rgb(255, 142, 83) 90%);
  box-shadow: rgba(255, 105, 135, 0.3) 0px 3px 5px 2px;
}

#goodsTitle {
  font-size: 3em;
  font-weight: bold;
  margin: 1.8rem 0;
  text-align: center;
}

#goodsPrice {
  font-size: 3em;
  margin: 1.8rem 0;
  text-align: center;
}

#goodsEvent {
  font-family: 'Staatliches', cursive;
  font-size: 3em;
  margin: 1.8rem 0;
  text-align: center;
  color: #f1c164;
  text-shadow: 3px 3px #2d63a7;
  margin: 0;
}
